<script src="./src/bootstrap-input-spinner.js"></script>
<script>
  $("input[type='number']").inputSpinner()
</script>
<br>
<h3 class="subtitle">Add medicine</h3>
<br>
<div class="container" class="formContainer">
  <form (ngSubmit)="onSubmit()">

    <div class="mb-3">
      <label for="brandName" class="form-label">Brand name:</label>
      <input name="brandName" type="text" class="form-control" id="brandName" aria-describedby="brandNameHelp"
        [(ngModel)]="medicine.brandName">
      <div id="brandNameHelp" class="form-text">Ex: Omez 10mg</div>
    </div>

    <div class="mb-3">
      <label for="chemicalName" class="form-label">Chemical name:</label>
      <input name="chemicalName" type="text" class="form-control" id="chemicalName" aria-describedby="chemicalName"
        [(ngModel)]="medicine.chemicalName">
      <div id="chemicalNameHelp" class="form-text">Ex: Omeprazolum</div>
    </div>

    <label for="administrationMethod">Administration method:</label>
    <br>
    <select name="administrationMethod" class="form-select" aria-label="administrationMethodSelect"
      [(ngModel)]="medicine.administrationMethod">
      <option id="administrationMethod" *ngFor="let method of administrationMethod">{{method}}</option>
    </select>
    <br>

    <div class="mb-3">
      <label for="posology" class="form-label">Posology:</label>
      <input name="posology" type="text" class="form-control" id="posology" aria-describedby="posologyHelp"
        [(ngModel)]="medicine.posology">
      <div id="posologyHelp" class="form-text">Ex: "1-0-1"</div></div>

      <div class="mb-3">
        <label for="quantity" class="form-label">Quantity:</label>
        <div id="quantity" aria-describedby="posologyHelp">
          <input name="quantity" [(ngModel)]="medicine.quantity" type="number" />
          <div id="posologyHelp" class="form-text">Quantity must be at least 1</div>
        </div>
      </div>
      <br>
      <div class="formButton">
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
  </form>
</div>
